@charset "utf-8";

body{
	background-color: beige;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.navbar{
	width : 100%;
}
img {
	float: right;
	margin-left: 10px;
}
a {
	text-decoration: none;
}
.logo {
	float: left;
}

